.apresentacao {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.apresentacaoText h2 {
    font-size: 72px;
    color: white;
}

.apresentacaoText p {
    width: 534px;
    font-size: 30px;
    color: white;
}

.apresentacao button {
    width: 209px;
    height: 73px;
    top: 546px;
    left: 188px;
    gap: 0px;
    border-radius: 100px;
    opacity: 0px;
    background: rgba(87, 108, 188, 1);
    font-size: 30px;
    color: white;
    font-size: 30px;
    font-weight: 600;
    line-height: 37.8px;


}

.apresentacaoImage img {
    width: 546px;
    height: 560px;
    top: 148px;
    left: 728px;
    gap: 0px;
    opacity: 0px;
}